<div class="container">
  <h1 class="text-center">
    <%= @cocktail.name %>
  </h1>
  <div>
    <%= cl_image_tag(@cocktail.photo.key, height: 300, width: 400, crop: :fill) if @cocktail.photo.attached? %>
  </div>
  <div>
    <%= link_to 'Add Ingredients', new_cocktail_dose_path(params[:id]) %>
  </div>
  <div>
    <h3>Ingredients</h3>
      <% @doses.each do |dose|%>
        <p> <%= Ingredient.find(dose.ingredient_id).name %> - <%= dose.description %></p>
      <% end %>
  </div>
</div>
